
body{
    width: 100vw;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid lightgray 1px;
    margin-top: 1%;
}

.logo {
    width: 150px;
    margin-left: 2%;
}

#menu{
    padding: 20px;
    cursor: pointer;
    float: right;
}


.container1{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    background-color: #8342DC;
    height: 100vh;
    width: 50%;
}

.right {   
    height: 100vh;
    width: 50%;
}

.web {
    
    height: 90vh;
    opacity: 0.6;
}

.maryAvatar {
    max-width: 140px;
    display: block;
    margin: auto;
    padding-top: 5%;
    height: 140px;

    border-radius: 30%;
    margin-left: 40%;
    margin-top: 30px;
    }

#comienzo {
    text-align: center;
    background-color: #009FE3;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 30%;
    border-radius: 25px;
    padding: 20px;
    margin: 10px 0;
    width: 35%;
    margin-left: 25%;
    color: white;
    font-weight: bold;
}

h1, h2 {
    color: white;
    padding: 2%;
    margin-left: 5% !important;
    font-size: 30px !important;
}

h1 {
    margin-top: 30%;
}

#output, #container, #input, h4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h4 {
     text-align: center;
     color: white;
}

.container2{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.container2 i{
color: #009FE3;
border: solid lightgray 2px;
padding: 70px;
border-radius: 50%;
}

.box1, .box2, .box3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right: 100px;
}
.color-container{
    background-color: #8342DC;
}
