#dashboard {
  display: none;
}

body {
  height: 100vh;
}

.banner {
  height: 12vh;
  border-bottom: 1px solid black;
  display: flex;
}

#ranking-container {
  margin: 0;
}

.logo {
  height: 30vh;
  width: 100%;
  border: 1px solid black;
}

.mini-logo {
  height: 12vh;
  width: 10vw;
  border: 1px solid black;
  display: inline-flex;
  position: absolute;
  left: 0;
}

.filter-options {
  position: absolute;
  right: 0;
  height: 12vh;
}

.filter-options button {
  height: 100%;
}

.ranking {
  width: 10vw;
  height: 88vh;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ranked {
  height: 10%;
  width: 60%;
  background-color: darkgray;
  border-radius: 100%;
  margin: 2.5px 0;
}

.ranked-info {
  padding: 10px;
}

.ranked-info section {
  border: 1px solid black;
}